apiVersion: v1
kind: Service
metadata:
  name: wordpress-mysql
  namespace: sans-mercy
  labels:
    app: sans-mercy-wp
spec:
  ports: 
    - port: 3306
  selector:
    app: sans-mercy-wp
    tier: backend
  clusterIP: None

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sm-db-pv-claim
  namespace: sans-mercy
  labels:
    app: sans-mercy-wp
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress-mysql
  namespace: sans-mercy
  labels:
    app: sans-mercy-wp
spec:
  selector:
    matchLabels:
      app: sans-mercy-wp
      tier: backend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: sans-mercy-wp
        tier: backend
    spec:
      containers:
      - image: mysql:9.2
        name: sm-mysql-db
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: sm-db-logins
              key: root-pass
        - name: MYSQL_DATABASE
          value: wordpress
        - name: MYSQL_USER
          value: wordpress
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: sm-db-logins
              key: wp-user-pass
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: sm-db-pv-claim

