apiVersion: v1
kind: Service
metadata:
  name: sans-mercy-wp
  namespace: sans-mercy
  labels:
    app: sans-mercy-wp
spec:
  ports:
    - port: 1998
      targetPort: 80
  selector:
    app: sans-mercy-wp
    tier: frontend

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wp-pv-claim
  namespace: sans-mercy
  labels:
    app: sans-mercy-wp
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: sans-mercy-wp
  namespace: sans-mercy
  labels:
    app: sans-mercy-wp
spec:
  replicas: 3
  selector:
    matchLabels:
      app: sans-mercy-wp
      tier: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: sans-mercy-wp
        tier: frontend
    spec:
#      affinity:
#        nodeAffinity:
#          requiredDuringSchedulingIgnoredDuringExecution:
#            nodeSelectorTerms:
#            - matchExpressions:
#              - key: kubernetes.io/hostname
#                operator: In
#                values:
#                - gali
      containers:
      - image: wordpress:6-php8.3-apache
        name: wordpress
        env:
        - name: WORDPRESS_DB_HOST
          value: wordpress-mysql
        - name: WORDPRESS_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: sm-db-logins
              key: wp-user-pass
        - name: WORDPRESS_DB_USER
          value: wordpress
        ports:
        - containerPort: 80
          name: wordpress
        volumeMounts:
        - name: wordpress-persistent-storage
          mountPath: /var/www/html
      volumes:
      - name: wordpress-persistent-storage
        persistentVolumeClaim:
          claimName: wp-pv-claim

