apiVersion: apps/v1
kind: Deployment
metadata:
  name: sans-mercy-svr
spec:
  replicas: 3
  selector:
    matchLabels:
      app: sans-mercy-svr
  template:
    metadata:
      labels:
        app: sans-mercy-svr
    spec:
      volumes:
        - name: web-content
          emptyDir: {}
      containers:
        # This container pulls a git repo into the "content" volume.  If this
        # were a "real" app it would probably have livenessProbe and resources,
        # and maybe a secret to get credentials for your git server.
        - name: git-sync
          image: registry.k8s.io/git-sync/git-sync:v4.2.3
          args:
            - --repo=https://github.com/ #some repo
            - --root=/git
            - --period=60s
            - --link=head
            - --max-failures=1000000000
            - -v=2
          volumeMounts:
            - name: web-content
              mountPath: /git

---

apiVersion: v1
kind: Service
metadata:
  name: sans-mercy-main
  namespace: sans-mercy
spec:
  selector:
    app: sans-mercy-svr
  ports:
  - protocol: TCP
    port: 1998
    targetPort: 80

